<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yuanbaodianfrontend.dao.UserDao">
    <insert id="zhuce">
        insert into ybd_user (phone,password,sex,position) values (#{tel},#{password},'0','学生');
    </insert>
</mapper>