<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yuanbaodianfrontend.dao.UserDao">
    <insert id="zhuce" useGeneratedKeys="true" keyProperty="id">
        insert into ybd_user (user_name,phone,password,sex,position) values (#{userName},#{phone},#{password},'0','学生');
    </insert>
    <select id="login" resultType="YbdUser">
         SELECT
	u.*,
	p.picture_type pictureType,
	p.picture_url pictureUrl,
	p.pser_id pserId ,
	p.id pictureId
FROM
	ybd_user u,
	ybd_picture p
WHERE
	p.pser_id = u.id
	and phone=#{phone}
	and password=#{password}
    </select>
	<select id="Personal" resultType="YbdUser">
		 SELECT
	u.*,
	p.picture_type pictureType,
	p.picture_url pictureUrl,
	p.pser_id pserId ,
	p.id pictureId
FROM
	ybd_user u,
	ybd_picture p
WHERE
	p.pser_id = u.id
	 and  u.id=#{id}
	</select>
	<update id="update_Personal">
		update ybd_user set user_name=#{userName},sex=#{sex} where id=#{id}
	</update>

	<select id="rotationChart" resultType="YbdPicture">
		select * from ybd_picture where picture_type = 'lunbo'
	</select>

	<select id="queryUserListByQuestion" resultType="YbdUser">
		SELECT q.*,p.picture_url from ybd_picture p
				RIGHT JOIN (SELECT ybd_user.id,ybd_user.user_name,
        COUNT(ybd_question_back.game_level_id) as questionNum
        from ybd_user
        LEFT JOIN ybd_user_answer_record on ybd_user.id=ybd_user_answer_record.user_id
        LEFT JOIN ybd_question_back on ybd_question_back.game_level_id=ybd_user_answer_record.chapter_serial_number
        GROUP BY ybd_user.id
        ORDER BY questionNum desc) q on p.pser_id = q.id and p.picture_type='head' ORDER BY questionNum desc limit 10
	</select>

	<select id="queryUserListByanswerRate" resultType="YbdUser">
		SELECT q.*,p.picture_url from ybd_picture p
				RIGHT JOIN (select ybd_user.id,ybd_user.user_name,
        CAST(ybd_answer_number_question_by_user.correct_count_number/
        ybd_answer_number_question_by_user.cumulative_count_number * 100
        AS decimal(9,2)) as answerRate
        from ybd_user
        LEFT JOIN ybd_answer_number_question_by_user
        on ybd_answer_number_question_by_user.user_id=ybd_user.id
        order by answerRate desc) q on p.pser_id = q.id and p.picture_type='head' ORDER BY answerRate desc limit 10
	</select>

	<delete id="delete_Head">
		delete from ybd_picture where picture_type='head' and pser_id=#{id}
	</delete>

	<insert id="insert_Head">
		insert into ybd_picture values(null,'head',#{uploadUrl},#{id})
	</insert>
	<!--//修改手机号
	int updatePhone(String newPhone, Integer id);-->
	<update id="updatePhone">
		update ybd_user set phone=#{newPhone} where id=#{id}
	</update>
	<!--//修改密码
	int updatePwd(String phone, String password);-->
	<update id="updatePwd">
		update ybd_user set password=#{password} where phone=#{phone}
	</update>

    <select id="checkTel" resultType="java.lang.Integer">
        select * from ybd_user where phone=#{tel}
    </select>
</mapper>